@import '../node_modules/normalize-scss/sass/normalize/import-now';

:root {
  --color-black: #292319;
  --color-green: #63b76c;
  --color-white: #f6f7f7;

  --space-small: calc(var(--space-medium) / 2);
  --space-medium: 16px;
  --space-large: calc(var(--space-medium) * 2);
}

html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}
